**/*.png
**/*.mp4

build/
/build/**
/build/
/build/CMakeFiles/**
/build/CMakeFiles/CMakeConfigureLog.yaml
/build/CMakeFiles/Makefile.cmake

# CMake files
/build/CMakeFiles/**
CMakeCache.txt
cmake_install.cmake

# Compiled object files
*.o
*.obj

# Dependency files
*.d

# Executable
AsciiShader

# New additions
build/CMakeFiles/**
build/CMakeFiles/AsciiShader.dir/**
build/CMakeFiles/Progress/**
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks